
.header{
  text-align: right;
  background-color: rgb(47, 84, 99);
  padding: 5px 0px;
  margin-top: -60px;
}
.header a{
  
  text-decoration: none;
  padding: 0px 20px;
  color: rgb(235, 222, 222);
  transition: .4s;
  font-size: 19px;
  letter-spacing: 5px;
  margin: 10px;
}
.header a:hover{
  color:#3467d6;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::after,*::before {
  box-sizing: border-box;
} */
